.DS_Store
/.build
/Packages
Example/Pods/
Example/Podfile.lock
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.swiftformat
